*{
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    border:border-box;
}

/* Top red Navbar */

/* 1. Gender Section */

.Top-Red-Navbar{
    height:45px;
    width:100%;
    background-color:#E11B23;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.Gender-Section{
    display:flex;
}

.Gender-Section button{
    height:45px;
    width:112px;
    background-color:#ED2D2F;
    color:white;
    font-size:15px; 
    font-weight:bold;
    border:0px;
}

.Gender-Section a{
    color:white;
    text-decoration:none;
}

.Gender-Section button:focus{
    background-color:white;
    color:black;
}

.Women-Section{
    border-left:1px solid black;
    border-right:1px solid black;
}

.Kids-Section{
    border-left:1px solid black;
    border-right:1px solid black;
}


/* 2. Other Options Section */

.Other-opt a{
    text-decoration:none;
    color:white;
    font-size:15px;
    margin-left:20px;
    position:relative;
    left:70px;
}





/* Top White Navbar */

.Top-White-Navbar{
    height:100px;
    width:100%;
    background-color:white;
    display:flex;
}

.Top-White-Navbar button:hover{
    border-bottom:5px solid red;
}


/* 1. Logo */

.logo img{
    height:100px;
}

/* 2. White-Navbar-opt */

.White-Navbar-opt{
    display:flex;
}

.White-Navbar-opt button{
    height:60px;
    width:100px;
    border:none;
    border-bottom:5px solid white;
    margin-left:25px;
    font-size:13px;
    font-weight:700;
    color:#58595B;
    background-color:white;
} 

/* 3.Other-White-Navbar-opt */

.Other-White-Navbar-opt{
    display:flex;
    margin-left:25px;
}

.Other-White-Navbar-opt button{
    height:65px;
    width:50px;
    margin-left:15px;
    font-size:25px;
    border:none;
    border-bottom:5px solid white;
    background-color:white;
}





/* Main Section */

/* 1. Image Slider */

.Image-Slider{
    width:100%;
    height:466px;
    background-color:gray;
    position: relative;
    overflow:hidden;
}

.slide{
    height:466px;
    width:100%;
    position:absolute;
    transition:1s;
}

.nav{
    text-align: center;
    height:0px;
}

.PrevBtn{
    position:relative;
    bottom:257px;
    right:620px;
    background-color:transparent;
    color:white;
    height:55px;
    width:40px;
    font-size:25px;
    border:none;
    font-weight: bolder;
}

.NextBtn{
    position:relative;
    bottom:257px;
    left:620px;
    background-color:transparent;
    color:white;
    height:55px;
    width:40px;
    font-size:25px;
    border:none;
}





/* Categories Section */

.Categories-section{
    height:1140px;
    width:100%;
    /* background-color: grey; */
}

h3{
    width:100%;
    margin-top:20px;
    font-size:30px;
    display:flex;
    justify-content:center;
}

.Categories{
    display:flex;
    justify-content: space-around;
    margin-top:10px;
}


.Categories div{
    height:400px;
    width:430px;
    /* background-color:red; */
    /* border:2px solid black; */
}

.more-cats{
    display:flex;
    justify-content: space-around;
    margin-top:15px;
    flex-wrap: wrap;
}

.more-cats div{
    height:320px;
    width:320px;
    /* background-color:red; */
    /* border:2px solid black; */
    margin-top:10px;
}


.sweatshirt{
    background-image:url(images/Categories/Sweatshirt.webp);
    background-size: cover;
}

.hoodies{
    background-image:url(images/Categories/Hoodies.webp);
    background-size: cover;
}

.jackets{
    background-image:url(images/Categories/Jackets.webp);
    background-size: cover;
}


.OS-full-sleeve-tees{
    background-image:url(images/Categories/OS-full-sleeve-tees.webp);
    background-size: cover;
}

.shirt{
    background-image:url(images/Categories/Shirts.webp);
    background-size: cover;
}

.sneakers{
    background-image:url(images/Categories/Sneakers.webp);
    background-size: cover;
}

.OS-tees{
    background-image:url(images/Categories/OS-tees.webp);
    background-size: cover;
}

.tees{
    background-image:url(images/Categories/tees.webp);
    background-size: cover;
}

.cargo-pants{
    background-image:url(images/Categories/Cargo-pants.webp);
    background-size: cover;
}

.OS-polos{
    background-image:url(images/Categories/OS-polos.webp);
    background-size: cover;
}

.jeans{
    background-image:url(images/Categories/Jeans.webp);
    background-size: cover;
}





/* New Arrival Section */

h3{
    width:100%;
    margin-top:20px;
    font-size:30px;
    display:flex;
    justify-content:center;
}

.New-Arrivals-Divslider{
    height:502px;
    width:100%;
    /* background-color:gray; */
    position: relative;
    overflow:hidden;
    margin-top:20px;
}

.divSlide-G1{
    height:500px;
    width:100%;
    /* background-color:aqua; */
    /* border:2px solid black; */
}

.divSlide-G2{
    height:500px;
    width:100%;
    /* background-color:aqua; */
    /* border:2px solid black; */
}

.divSlide{
    position: absolute;
    transition:1s;
}

.divnav{
    text-align:center;
}

.New-Arrivals-Divslider .divSlide{
    display:flex;
    justify-content: space-evenly;
}

.New-Arrivals-Divslider .divSlide .prods{
    height:475px;
    width:300px;
    /* border:2px solid black; */
    margin-top:10px;
}

.prodImgdiv{
    height:382px;
    width:275px;
    /* border:2px solid black; */
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}

.prodInfodiv{
    height:70px;
    width:275px;
    /* border:2px solid black; */
    margin-top:3px;
    margin-left:10px;
    margin-right:10px;
}

.New-Arrivals-Divslider .divSlide .prods .prodInfodiv p{
    margin-top:5px;
    font-weight:600;
    font-style:ariel;
    font-size:15px;
}

.prod-disc{
    color:red;
    position: absolute;
    top:446px;
    left:150px;
}

.divnav button{
    height:55px;
    width:40px;
    font-size:50px;
    background-color:transparent;
    border:none;
    color:grey;
}

.New-Arrival-div-Goprev{
    position: relative;
    bottom:265px;
    right:615px;
}

.New-Arrival-div-Gonext{
    position: relative;
    bottom:265px;
    left:615px;
}

.prod-image1{
    background-image:url(images/New-Arrivals/prod1.webp);
    background-size: cover;
}

.prod-image2{
    background-image:url(images/New-Arrivals/prod2.webp);
    background-size: cover;
}

.prod-image3{
    background-image:url(images/New-Arrivals/prod3.webp);
    background-size: cover;
}

.prod-image4{
    background-image:url(images/New-Arrivals/prod4.webp);
    background-size: cover;
}

.prod-image5{
    background-image:url(images/New-Arrivals/prod5.webp);
    background-size: cover;
}

.prod-image6{
    background-image:url(images/New-Arrivals/prod6.webp);
    background-size: cover;
}

.prod-image7{
    background-image:url(images/New-Arrivals/prod7.webp);
    background-size: cover;
}

.prod-image8{
    background-image:url(images/New-Arrivals/prod8.webp);
    background-size: cover;
}

